@media(max-width:767px) {
  body.lock {
    overflow: hidden;
  }
  .page {
    overflow: hidden;
    max-width: 767px;
  }
  .container {
    padding: 10px 10px 0 10px;
  }
  .header {
    display: flex;
    max-width: 747px;
    padding: 10px 14px;
    justify-content: space-between;
    align-items: center;
    border-radius: 64px;
    border: 2px solid #478BF9;
    background: #110A1D;
    position: absolute;
    z-index: 100; 
  }
  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header_burger::before,
  .header_burger::after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    transition: all 0.3s ease 0s;
  } 
   .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }
  .header_burger span {
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
    transition: all 0.3s ease 0s;
  } 
  .header_burger.active span {
    transform: scale(0);
  }
  .header_burger.active::before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header_burger.active::after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .mobile {
    display: block;
    position: relative;
    z-index: 5;
    right: 50px;
    margin-left: auto;
    border-radius: 24px;
    border: 2px solid #9DADF2;
    background: #110A1D;
    padding-left: 3px;
  }
  .header_menu {
    display: none;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #110A1D;
    display: inline-flex;
    transition: all 0.3s ease 0s;
    padding: 10px 10px 92px 10px;
    flex-direction: column;
    align-items: center;
    z-index: 5;
    overflow: auto;
  }
  .header_menu.active {
    top: 70px;
  }
 .menu_item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
 .menu_list {
    display: flex;
    width: 100%;
    padding: 13px 400px 13px 20px;
    align-items: center;
    gap: 2px;
    border-radius: 28px;
    border: 2px solid #478BF9;
    background:#110A1D;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; 
}
  .menu_button {
    margin-right: auto;
}
  .menu_button-btn:not(:first-child) {
    display: block;
    display: flex;
    width: 100%;
    padding: 13px 230px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 24px;
    border: 2px solid #9DADF2;
    background: #1E1231;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px; 
} 
  .menu_button-btn:first-child {
    display: none;
}
  .header_logo {
    width: 54px;
    height: 18px;
    overflow: hidden;
    position: relative;
    z-index: 5;
  }
  .main {
    flex-direction: column;
    margin-left: 100px;
    padding-top: 100px;
    padding-bottom: 20px; 
  }
  .main_left {
    padding-top: 0;
  }
  .main_center {
    margin-top: -300px; 
    transform: rotate(-90deg);
  }
  .main_right {
    margin-top: -350px;
    margin-left: 0;
  }
  .dotLight img {
    width: 240px;
    height: 240px;
    overflow: hidden;
    position: absolute;
    right: -97px;
    bottom: -49px;
}
  .dotLight2 img {
    width: 81.081px;
    height: 466.334px;
    overflow: hidden;
    transform: rotate(-54.311deg);
    position: absolute;
    left: -69.152px;
    top: 22.712px;
}
  .footer {
    display: flex;
    padding: 20px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 15px;
}
  .footer_container {
    display: flex;
    padding-bottom: 0px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
  .footer_info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 2px;
    align-self: stretch;
}
  .footer_info-list {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}
  .footer_social {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}
}