@media(max-width:767px) {
.header_menu {
  display: none;
}
}
  /*.header {
     /* position: fixed; */
    /*width: 100%;
    top: 0;
    left: 0;*/
    /*z-index: 5;
    /* display: flex; */
/*width: 100%;
height: 50px;
padding: 10px 14px;
/* justify-content: space-between;
align-items: center; */
/*border-radius: 64px;
border: 2px solid #478BF9;
background: #110A1D;

  }
  .container {
    padding: 10px 10px 0 10px;
  }

  /* .header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e1231;
    z-index: 3;
  } */
  /*.header_logo {
    width: 54px;
    height: 18px;
    overflow: hidden;
    position: relative;
    z-index: 3000;
  }
  .header_menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #1e1231;
    z-index: 3;
    padding: 100px 10px 10px 20px;
    flex-direction: column;
  }
  /* .menu_item {
    flex-direction: column;
    margin-right: 0;
  }
  .menu_list {
    display: flex;
width: 100%;
padding: 13px 20px;
align-items: center;
gap: 8px;
border-radius: 28px;
border: 2px solid #478BF9;
background: var #110A1D;
font-family: Lexend;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
  }

  .menu_button-btn:not(:first-child) {
    display: block;
    display: flex;
width: 100%;
padding: 13px 20px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 24px;
border: 2px solid var(--additional-purple-9-dadf-2, #9DADF2);
background: var(--main-deep-blue-1-e-1231, #1E1231);
text-align: center;
font-family: Lexend;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 20px; 
  } 
  .menu_button-btn:first-child {
    display: none;
  }*/
  /*.mobile {
    display: block;
    position: relative;
    z-index: 5;
    right: 0;
  }

  .header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 5;
  }
  .header_burger::before,
  .header_burger::after {
    content: '';
    background: #fff;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
  }
  .header_burger span {
    position: absolute;
    background: #fff;
    left: 0;
    width: 100%;
    height: 2px;
    top: 9px;
  }
  .header_burger::before {
    top: 0;
  }
  .header_burger::after {
    bottom: 0;
  }*/


@media (max-width:320px) {
  .page {
    width: 320px;
    overflow: hidden;
}
.container {
  padding: 10px 10px 0 10px;
}
.header {
  display: flex;
width: 100%;
padding: 10px 14px;
justify-content: space-between;
align-items: center;
border-radius: 64px;
border: 2px solid #478BF9;
background: #110A1D;
margin-bottom: 70px;
}
.header_logo {
  width: 54px;
  height: 18px;
  overflow: hidden;
  position: relative;
  z-index: 5;
}
.mobile {
  display: block;
  position: relative;
  z-index: 5;
  right: 0;
}
.menu_list {
  width: 300px;
}
.menu_button-btn:not(:first-child) {
  width: 300px;
}
.main {
  display: inline-flex;
padding: 70px 10px;
flex-direction: column;
align-items: flex-start;
gap: 24px;

}
 .main_left {
  display: flex;
flex-direction: column;
align-items: flex-start;
gap: 12px;
}
.main_title {
  align-self: stretch;
  text-align: center;
font-size: 46px;
line-height: 50px;
}
.main_article {
  width: 300px;
  text-align: center;
font-size: 20px;
line-height: 26px; 
}
.main_button {
  display: flex;
width: 300px;
padding: 15px 20px;
justify-content: center;
align-items: center;
text-align: center;
font-size: 18px;
font-weight: 600;
text-transform: uppercase;
}
.main_center {
  width: 165px;
transform: rotate(-90deg);
margin-left: -130px;
margin-top: -250px;

}
.main_center-one {
  width: 49.617px;
flex-shrink: 0;
}
.main_center-two {
  width: 50.277px;
flex-shrink: 0;
}
.main_center-three {
  width: 49.148px;
flex-shrink: 0;
}
.main_center-one img,
.main_center-two img,
.main_center-three img{
  width: 49px;
}
.main_right {
  display: flex;
flex-direction: column;
align-items: center;
gap: 18px;
margin-left: -350px;
margin-top: 400px;
 padding-top: 200px;
}
.main_right-title {
  font-size: 32px;
font-weight: 600;
text-align: center;
} 
.main_right-info {
 width: 300px;
height: 421px; 
 border-radius: 50px;
border: 2px solid #478BF9;
background-color: rgba(255, 255, 255, 0.12);
backdrop-filter: blur(10px);
padding: 15px; 
}
.main_right-item {
  display: flex;
width: 274px;
max-height: 80%;
 flex-direction: column; 
align-items: center;
gap: 10px;
padding: 0;
}
.main_right-list {
  display: flex;
padding: 15px 35px;
 flex-direction: column; 
align-items: flex-start; 
 align-self: stretch; 
border-radius: 40px;
font-size: 16px;
line-height: 20px;
background: #1E1231;
}
.dotLight img {
  width: 240px;
  height: 240px;
  overflow: hidden;
  position: absolute;
right: -97px;
bottom: -49px;
}
.dotLight2 img {
  width: 81.081px;
height: 466.334px;
overflow: hidden;
transform: rotate(-54.311deg);
position: absolute;
left: -69.152px;
top: 22.712px;
}
.footer {
  display: flex;
width: 320px;
padding: 20px;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
gap: 15px;
border-radius: 50px 50px 0px 0px;
border-top: 2px solid #478BF9;
border-right: 2px solid #478BF9;
border-left: 2px solid #478BF9;
background: #1E1231;
}
.footer_container {
  display: flex;
padding-bottom: 0px;
flex-direction: column;
align-items: flex-start;
gap: 20px;
align-self: stretch;
}
.footer_info {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 2px;
align-self: stretch;
}
.footer_info-list {
  text-align: center;
font-size: 14px;
}
.footer_social {
  display: flex;
flex-direction: column;
align-items: flex-start;
/* gap: 8px; */
/* align-self: stretch; */
}
.footer_title {
font-size: 14px;
line-height: 20px;
}
.footer_social-btn {
  display: flex;
}
.social_button {
  background: url(img-Page/BG\ Vector2.svg);
  width: 27px;
  height: 27px;
display: block;
}
.social_button img {
  width: 13.5px;
height: 13.5px;
flex-shrink: 0;
text-align: center;
  vertical-align: middle;
}
}
